In [2]:
from dotenv import load_dotenv
import os
import praw
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

import nltk
from nltk.tokenize import word_tokenize, sent_tokenize, RegexpTokenizer
from nltk.corpus import stopwords, wordnet
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [73]:
news1 = pd.read_csv('pulling_data/2024-06-27 15:03:20.894281_news.csv')
onion1 = pd.read_csv('pulling_data/2024-06-26 16:40:52.902750_onion.csv')

In [75]:
news2 = pd.read_csv('pulling_data/2024-06-28 15:21:52.863539_news.csv')
onion2 = pd.read_csv('pulling_data/2024-06-28 15:21:52.863539_onion.csv')

In [77]:
onion1.drop(columns=['Unnamed: 0'], inplace=True)
onion1.head()

,created_utc,title,self_text,subreddit
0,1.719429e+09,The First 2024 Presidential Debate By The Numbers,NaN,TheOnion
1,1.719429e+09,Naked Man Emerging From Ocean Must Have Just F...,NaN,TheOnion
2,1.719409e+09,Rafael Nadal Withdraws From Wimbledon To Spend...,NaN,TheOnion
3,1.719409e+09,British Science Museum Forced To Return Fire E...,NaN,TheOnion
4,1.719396e+09,Increasingly Isolated Putin Tries Joining Adul...,NaN,TheOnion

In [79]:
onion2.head()

,created_utc,title,self_text,subreddit
0,1.719602e+09,Analysts: Biden Can Negate Debate Performance ...,NaN,TheOnion
1,1.719602e+09,Eye Contact-Avoiding Biden Administration Stil...,NaN,TheOnion
2,1.719598e+09,Bam Margera To Spend 6 Months On Probation Aft...,NaN,TheOnion
3,1.719582e+09,Fact Checking The Trump–Biden Debate On CNN,NaN,TheOnion
4,1.719582e+09,Report Links Climbing Onto Enormous Index Fing...,NaN,TheOnion

In [81]:
onion = pd.concat([onion1, onion2])

In [83]:
len(onion['created_utc'].unique())

969

In [85]:
onion.drop_duplicates('created_utc', inplace=True)

In [87]:
len(onion['created_utc'].unique())

969

In [89]:
news1.drop(columns=['Unnamed: 0'], inplace=True)
news1.head()

,created_utc,title,self_text,subreddit
0,1.719515e+09,Russia Loses Last Black Sea Missile Ship – Put...,NaN,worldnews
1,1.719514e+09,Nicaragua’s Daniel Ortega establishes diplomat...,NaN,worldnews
2,1.719511e+09,A Kenyan-led security mission finally starts t...,NaN,worldnews
3,1.719511e+09,Another Russian satellite broke apart in orbit...,NaN,worldnews
4,1.719511e+09,ICC allows UK to submit arguments on jurisdict...,NaN,worldnews

In [91]:
news2.head()

,created_utc,title,self_text,subreddit
0,1.719602e+09,Kremlin labels new EU chief diplomat ''rabidly...,NaN,worldnews
1,1.719599e+09,Russia blames US for Crimea deaths and vows re...,NaN,worldnews
2,1.719599e+09,"After Oil, Russia May Now Be Building a Shadow...",NaN,worldnews
3,1.719598e+09,French journalist describes India’s permit den...,NaN,worldnews
4,1.719598e+09,Azerbaijan to hold snap parliamentary election...,NaN,worldnews

In [93]:
news = pd.concat([news1, news2])

In [95]:
len(news['created_utc'].unique())

988

In [97]:
news.drop_duplicates('created_utc', inplace=True)

In [99]:
len(news['created_utc'].unique())

988

In [101]:
posts = pd.concat([onion, news])
posts['is_onion'] = posts['subreddit'].map({'worldnews': 0, 'TheOnion': 1})

In [105]:
posts.shape

(1957, 5)

In [109]:
posts.to_csv('data/posts.csv')

In [69]:
X = posts['title']
y = posts['is_onion']