In [54]:
from dotenv import load_dotenv
import os
import praw
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

import nltk
from nltk.tokenize import word_tokenize, sent_tokenize, RegexpTokenizer
from nltk.corpus import stopwords, wordnet
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [40]:
news = pd.read_csv('pulling_data/2024-06-27 15:03:20.894281_news.csv')
onion = pd.read_csv('pulling_data/2024-06-26 16:40:52.902750_onion.csv')

In [42]:
onion.drop(columns=['Unnamed: 0'], inplace=True)
onion.head()

,created_utc,title,self_text,subreddit
0,1.719429e+09,The First 2024 Presidential Debate By The Numbers,NaN,TheOnion
1,1.719429e+09,Naked Man Emerging From Ocean Must Have Just F...,NaN,TheOnion
2,1.719409e+09,Rafael Nadal Withdraws From Wimbledon To Spend...,NaN,TheOnion
3,1.719409e+09,British Science Museum Forced To Return Fire E...,NaN,TheOnion
4,1.719396e+09,Increasingly Isolated Putin Tries Joining Adul...,NaN,TheOnion

In [44]:
news.drop(columns=['Unnamed: 0', 'self_text'], inplace=True)
news.head()

    created_utc                                              title  subreddit
0  1.719515e+09  Russia Loses Last Black Sea Missile Ship – Put...  worldnews
1  1.719514e+09  Nicaragua’s Daniel Ortega establishes diplomat...  worldnews
2  1.719511e+09  A Kenyan-led security mission finally starts t...  worldnews
3  1.719511e+09  Another Russian satellite broke apart in orbit...  worldnews
4  1.719511e+09  ICC allows UK to submit arguments on jurisdict...  worldnews

In [56]:
posts = pd.concat([onion, news])
posts['is_onion'] = posts['subreddit'].map({'worldnews': 0, 'TheOnion': 1})

In [58]:
X = posts['title']
y = posts['is_onion']